---
import ContentSection from "~/components/content-section.astro";
import CvSwitch from "~/components/cv-switcher.vue";
---
<ContentSection title="Where I've Worked" id="experience">
  <Fragment slot="lead">
     I've had the privilege of working at a <span class="text-primary">startup</span> and <span class="text-primary">big corporations</span>
  </Fragment>
  <CvSwitch client:load></CvSwitch>
</ContentSection>