---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import ConfettyBtn from "./confetty-btn.vue";

---

<ContentSection title="Hello there!" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    <!-- Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
     performance meets <span class="text-primary">powerful</span> developer
    experience. -->
    I use my <span class="text-primary">passion</span> and <span class="text-primary">skills</span> to build <span class="text-primary">great software</span>.
    <br/><br/>Currently based in <span class="text-primary">Madrid</span>, Spain.

    
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="mailto:pablomenordeonate@gmail.com"
      class="intro-btn flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="email-outline" class="h-8" />
      <span>Contact me</span>
    </a>
    <ConfettyBtn client:load></ConfettyBtn>
  </div>
</ContentSection>


<style scoped>
  a:hover {
    color: #ffffff;
  }

</style>