---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Angular",
    icon: "frameworks/angular",
    url: "https://angular.dev/",
  },
  {
    title: "Astro",
    icon: "logomark",
    url: "https://astro.build/",
  },
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Streamlit",
    icon: "frameworks/streamlit",
    url: "https://streamlit.io/",
  },
  {
    title: "Node.js",
    icon: "frameworks/node",
    url: "https://nodejs.org/en",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Azure",
    icon: "platforms/azure",
    url: "https://azure.microsoft.com/en-us/products/",
  },
  {
    title: "OpenAI",
    icon: "platforms/openai",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
];
---

<ContentSection title="Skills" id="skills">
  <Fragment slot="lead">
    <!-- Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
     and deploy to your favorite <span class="text-primary">platform</span>. -->
     Here are a few  <span class="text-primary">technologies</span> I’ve been <span class="text-primary">working</span> with recently
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Front & Backend"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Others"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
